<template>
  <section>
      <!-- <p v-show="visible">{{hola}}</p> v-if hace q no se renderice -->
      <!-- <p v-if="visible">{{hola}}</p>  -->
      <!-- <p v-else>PARRAFO AUXILIAR</p> -->
      <!-- v-for -->
      <p>
        <input type="text" placeholder="Nombre" v-model="fruta.nombre">
        <input type="text" placeholder="Color" v-model="fruta.color">
        <button v-on:click="agregarFruta">AGREGAR</button>
      </p>
      <p>Lista de frutas</p>
      <p v-for="(fruta, index) of listaFrutas" v-bind:key="index"> 
        {{ fruta.nombre }} - {{ fruta.color    }}
        <button v-on:click="eliminarFruta(index)">Eliminar</button>
        </p>
        
      <!-- <p v-for="(elemento, index) of numeros" v-bind:key="index">  
         /** va iterar elemento de numeros ,el elemento es el item en la posicion del index */
        {{elemento}}
      <button v-on:click="visible=!visible">{{visible ? 'Ocultar párrafo' : 'Mostrar párrafo'}}</button>
        
        </p> -->
  </section>
 </template>
<script>
export default {
  name: 'App',
      data(){
        return{
          
          fruta:{
            nombre: '',
            fruta: ''   
          },

          listaFrutas:[
          {
            nombre:'Mango',
            color: 'verde'
          }
          ],
/**
          numeros:[1,2,3,4,5],
          visible: false,
          hola: 'Hola desde app.vue' 
*/
        }
      },  
methods:{
  resetForm(){
      this.fruta= {
          nombre:'',
          color:''
        }
      }, 
  agregarFruta(){
      const fruta = {...this.fruta} /** me creo consta fruta q a travez de spred operator hago una copia */
      this.listaFrutas.push(fruta)/** inserto el clon de la fruta */
      this.resetForm() /** deja en blanco textlabel */
      },
  eliminarFruta(index){
      this.listaFrutas.splice(index, 1) /**index=indica la posicion, 1=cuantos elementos va eliminar */
      } 
}

}
</script>
